.about{
    width: 60%;
    margin: 36px auto;
    h2{
        color: #40a0a0;
        font-size: 34px;
        padding: 20px 0;
    }
    h3{
        font-size: 22px;
        font-weight: bold;
        padding-bottom: 14px;
    }
    p{
        font-size: 18px;
        padding-bottom: 24px;
    }
    a{
        color: #ff6384
    }
}