.body{
    background: #d6ebeb;
}
.content-container{
    width: 60%;
    margin: 72px auto;
    .outer-container{
        border-bottom: 1px solid lightgrey;
        &.labels{
            border-bottom: 2px solid lightgrey;
            position:fixed;
            top: 36px;
            width: 60%;
            z-index: 1001;
        }
    }
    .data{
        &:hover{
            cursor: pointer;
            color: #40a0a0
        }
    }
    .items-container{
        width: 100%;
        display:flex;
        flex-flow: row, nowrap;
        justify-content: space-between;
        background: white;
        padding: 10px 0;
        
        
        .name-item{
            width: 20%;
        }
        .other-items{
            width: 80%;
            display: flex;
            flex-flow: row, nowrap;
            justify-content: space-between;
            .row-item{
                width: 20%;
                text-align: right;
            }
        }
    }
}