@media(max-width: 935px){
    .tip-container{
        margin-top: 15px;
        position: absolute;
        .tip-component{
            font-size: 14px;
            line-height: 15px;
            text-align: left;
            height: 275px;
            overflow-y: auto;
        }
        
    }
    
}

@media(max-width: 650px){
    .tip-container{
        margin-top: 10px;
        .tip-component{
            font-size: 12px;
        }
    }
    
}

@media(max-width: 450px){
    .tip-container{
        position: relative;
        width: 80%;
        .tip-component{
            height: 80px;
        }
    }
}