.about{
    width: 60%;
    margin: 36px auto;
    h2{
        color: #40a0a0;
        font-size: 30px;
        padding: 10px 0;
    }
    h3{
        font-size: 18px;
        font-weight: bold;
        padding-bottom: 6px;
    }
    p{
        font-size: 16px;
        padding-bottom: 6px;
    }
    a{
        color: #ff6384
    }
}