.content-container{
    width: 60%;
    margin: 50px auto 0px;
    .container{
        padding: 15px 0;
        border-bottom: 1px solid lightgrey;
        .columns{
            display: flex;
            justify-content: space-between;
            
            
            .name-row{
                width: 20%;
            }
            .row-item{
                    width:18%;
                }
            .other-rows{
                display:flex;
                justify-content: space-between;
                width: 75%;
                text-align: right;
            }    
            &.data{
                &:hover{
                    cursor: pointer;
                }
                .other-rows{
                    .row-item{
                        text-align:right;
                    }
                }
                
            
            }
        }
    }
    
    
    
}