@media(min-width: 1200px){
    .large{
        display: block;
    }
    .medium{
        display: none;
    }
    .small{
        display: none;
    }
}

@media(max-width: 1200px){
    .medium{
        display:block;
    }
    .small{
        display:none;
    }
    .large{
        display:none;
    }
}

@media(max-width: 650px){
    .small{
        display:block;
    }
    .large{
        display:none;
    }
    .medium{
        display:none;
    }
}

@media(max-width: 450px){
    .graph-outer-container{
        .top-row{
            .select{
                width: 140px;
                z-index: 1000;
                margin-left: 40px;
            }
        }
        .chart-container{
            padding: 0px;
            padding-top: 10px;
        }
    }
}







