@media(max-width: 450px){
    .graph-outer-container{
        .top-row{
            justify-content: space-around;
            .select{
                width: 110px;
                z-index: 1000;
            }
            .button-container{
                position: relative;
                right: 0px;
            }
        }
        .chart-container{
            padding: 0px;
        }
    } 
}