
@media(max-width: 935px){
    nav{
        z-index: 1002;
        .nav-container{
            width: 90%;
        }
        
    }
}

@media(max-width: 650px){
    nav{
        z-index: 1002;
        font-size: 14px;
        .nav-container{
            width: 90%;
        }
        
    }
}

@media(max-width: 450px){
    nav{
        z-index: 1002;
        font-size: 12px;
        .nav-container{
            width: 90%;
        }
        
    }
}