/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background: #afe9e9;
  z-index: 300;
}
nav h1 {
  margin: 10px;
}
nav .link-container {
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin: 10px;
}

.content-container {
  width: 60%;
  margin: 72px auto;
}
.content-container .outer-container {
  border-bottom: 1px solid lightgrey;
}
.content-container .outer-container.labels {
  border-bottom: 2px solid lightgrey;
  position: fixed;
  top: 36px;
  width: 60%;
  z-index: 200;
}
.content-container .outer-container.labels:hover {
  cursor: inherit;
  color: black;
}
.content-container .items-container {
  width: 100%;
  display: flex;
  flex-flow: row, nowrap;
  justify-content: space-between;
  background: white;
  padding: 10px 0;
}
.content-container .items-container:hover {
  cursor: pointer;
  color: #40a0a0;
}
.content-container .items-container .name-item {
  width: 20%;
}
.content-container .items-container .other-items {
  width: 80%;
  display: flex;
  flex-flow: row, nowrap;
  justify-content: space-between;
}
.content-container .items-container .other-items .row-item {
  width: 20%;
  text-align: right;
}

.side-controlls {
  position: fixed;
  left: 2.5%;
  width: 15%;
}
.side-controlls .clipboard {
  color: #ff6384;
}

.graph-outer-container {
  padding: 25px;
  position: relative;
}
.graph-outer-container .top-row {
  display: flex;
  justify-content: center;
}
.graph-outer-container .top-row select {
  height: 25px;
  border: 0;
  transform: scale(1.5);
}
.graph-outer-container .top-row select:hover {
  cursor: pointer;
}
.graph-outer-container .top-row .button-container {
  position: absolute;
  right: 25px;
  display: flex;
  flex-flow: column nowrap;
}
.graph-outer-container .chart-container {
  padding: 25px;
}

/*# sourceMappingURL=App.css.map */
